@import "../resources/variables";

.error__container,
.success__container,
.success-animated__container {
  width: 20rem;
  padding: 0.5rem;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.error__container {
  background-color: #f8d7da;
  color: #721c24;
}

.success__container,
.success-animated__container {
  background-color: #d4edda;
  color: #155724;
  padding: 0;
  border-radius: 5px;
  height: 3rem;
}

.auth-alert__card {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-alert__container {
  width: 30rem;
  height: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border: 2px solid $mainDarkColor;
  border-radius: 15px;
  box-shadow: 1px 2px 3px 0px rgba(0, 0, 0, 0.54);
}

.auth-alert__button {
  background: none;
  outline: none;
  border: none;
  font-size: 1rem;
  text-decoration: underline;
  &:hover,
  &:active {
    text-decoration: none;
    h3,
    h2 {
      color: $mainBlueColor;
      cursor: pointer;
    }
  }
}

.auth-alert__user {
  font-size: 9rem;
  color: $mainDarkColor;
}

.info-alert__container {
  display: flex;
  align-items: center;
  width: 22rem;
  background-color: #d1ecf1;
  color: #0c5460;
  padding: 0.2rem;
  margin-bottom: 1rem;
  border-radius: 5px;
}

.info-alert__icon {
  font-size: 2rem;
  margin: auto 1rem;
}

.success-animated__container {
  width: 25rem;
  margin: 2rem auto;
  animation: longAlert 5s 1 forwards;
}

@keyframes longAlert {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@media screen and (max-width: 500px){
  .auth-alert__container{
    border: none;
    box-shadow: none;
    text-align: center;
  }

  .success-animated__container,.info-alert__container,.error__container{
    width: 75%
  }
}
