@import "../../components/resources/variables";

.container {
  height: 100vh;
  width: 100vw;
}

.trending__slider {
  margin-top: 4rem;
  h1 {
    width: 90%;
    margin: 1rem auto;
  }
}

@media only screen and (max-width: 785px) {
  .navbar__container {
    display: none;
  }
}
