$borderColor: #d6d6d6;
$btnColor: #363151;

@import "../resources/variables";

.event__list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 70rem;
  border-bottom: 1px solid $borderColor;
  padding: 1rem;
  margin: 0 auto;
}

.event__item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.item__link{
  text-decoration: none;
  h3{
    color: $mainDarkColor;
  }
}

.event__image {
  margin-right: 2rem;
}

.event__details {
  white-space: nowrap;
}

.details__btn {
  border: 1px solid $btnColor;
  border-radius: 2px;
  background: $btnColor;
  outline: none;
  height: 2rem;
  text-decoration: none;
  color: #fff;
  padding: 0.5rem;
  &:hover {
    background: $btnHover;
  }
}

.location__title {
  font-family: inherit;
  font-size: 0.9rem;
  font-weight: bold;
  color: $greyColor;
}

@include xsm{
  .event__item{
    font-size: 1rem;
    &:hover{
      cursor: pointer;
    }
  }
  .details__btn{
    display: none;
  }
}

@include sm{
  .event__list-item {
    width: 100%;
  }
  .event__item{
    font-size: 0.8rem;
    &:hover{
      cursor: pointer;
    }
  }
  .details__btn{
    display: none;
  }
}

@include md{
  .event__item{
    font-size: 1rem;
    &:hover{
      cursor: pointer;
    }
  }
  .details__btn{
    display: none;
  }

}