@import "../../components/resources/variables";

.event-details__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.event-details__main {
  display: flex;
  margin-left: 2rem;
  img {
    margin-right: 1rem;
  }
}

.social-media__icons {
  display: flex;
  width: 40%;
  .social-media__icon {
    font-size: 2rem;
    margin-right: 1rem;
    &:hover {
      cursor: pointer;
    }
  }

  .youtube-icon {
    color: #c4302b;
  }

  .facebook-icon {
    color: #3b5998;
  }

  .twitter-icon {
    color: #00acee;
  }

  .instagram-icon {
    color: #3f729b;
  }
}

.btn__group {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn__group-element {
  background: $mainDarkColor;
  padding: 1rem;
  margin: 2rem;
  border: 1px solid $mainDarkColor;
  border-radius: 3px;
  color: $mainLightColor;
  outline: none;
  &:hover,
  &:active {
    background: $btnHover;
    cursor: pointer;
  }
  &:disabled {
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
    cursor: default;
  }
}

@media screen and (max-width: 500px){
  .event-details__main {
    flex-direction: column;
  }
}
