@import "../../components/resources/variables";

.events__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.event__navbar {
  display: flex;
  justify-content: space-between;
  width: 90%;
  a {
    text-decoration: none;
    font-size: 1.5rem;
  }
  h4 {
    color: $mainDarkColor;
    margin: 0;
    &:active,
    &:hover {
      color: #5dd2d8;
    }
  }
}

.active-option {
  h4 {
    color: #5dd2d8;
  }
  cursor: default;
}

.events__list {
  width: 90%;
  list-style: none;
}

.dropdown__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  max-width: 1120px;
  padding: 1rem;
  margin: auto;
}

.dropdown__group {
  transform: translateY(75%);
}

.sort__dropdown {
  transform: translate(27%, 75%);
  .dropdown-list {
    border: 2px solid transparent;
    &:hover,
    &:active {
      border: 2px solid $mainDarkColor;
    }
  }
}
