.events__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.event__navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 90%;
}

.event__navbar a {
  text-decoration: none;
  font-size: 1.5rem;
}

.event__navbar h4 {
  color: #363151;
  margin: 0;
}

.event__navbar h4:active, .event__navbar h4:hover {
  color: #5dd2d8;
}

.active-option {
  cursor: default;
}

.active-option h4 {
  color: #5dd2d8;
}

.events__list {
  width: 90%;
  list-style: none;
}

.load-more__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.load-more__btn button {
  width: 20rem;
  height: 3rem;
  font-size: 1rem;
}

.load-more__btn button:hover {
  cursor: pointer;
}

.default__btn {
  border: 1px solid #363151;
  border-radius: 2px;
  background: #363151;
  outline: none;
  height: 2rem;
  text-decoration: none;
  color: #fff;
  padding: 0.5rem;
  margin-top: 2rem;
}

.default__btn:hover {
  background: #14121d;
}

.dropdown__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  max-width: 1120px;
  padding: 1rem;
  margin: auto;
  margin-bottom: 2rem;
}

.event__dropdown {
  display: none;
}

.dropdown__group {
  -webkit-transform: translateY(75%);
          transform: translateY(75%);
  z-index: 1;
}

.sort__dropdown {
  -webkit-transform: translate(27%, 75%);
          transform: translate(27%, 75%);
}

.sort__dropdown .dropdown-list {
  border: 1px solid #999999;
}

.sort__dropdown .dropdown-list:hover, .sort__dropdown .dropdown-list:active {
  border: 1px solid #363151;
}

@media screen and (max-width: 620px) {
  .event__navbar {
    display: none;
  }
  .event__dropdown {
    display: block;
  }
  .events__list {
    max-width: 600px;
  }
}

@media screen and (max-width: 785px) {
  .dropdown__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .dropdown__group {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  .sort__dropdown {
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
  }
}
/*# sourceMappingURL=events.css.map */